@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Merriweather', serif;
}
h1, h3, h6 {
    font-family: 'Montserrat', sans-serif;
}
.page-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 6rem 0;
}
.inner-container {
    width: 65%;
    margin: 0 auto;
}
.header-container > h1 {
    font-size: 3.5rem;
    margin-bottom: .5rem;
}
.header-container > p {
    font-size: 1.6rem;
}
.big-post-container {
    margin: 4rem 0;
    padding-top: 2.5rem;
    border-top: 1px solid rgb(186, 186, 186);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.big-post-container > img {
    width: 65%;
}
.post-details {
    width: 30%;
}
.post-details h3 {
    font-size: 2.6rem;
    font-weight: 600;
}
.post-details h6 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0;
}
.bio {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bio > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.bio p {
    font-size: 1.7rem;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.post-details > img {
    width: 100%;
    margin-bottom: 1.5rem;
}
.footer-container h3 {
    font-size: 2rem;
}

@media only screen and (max-width: 992px) {

    .inner-container {
        width: 90%;
    }
    
    .big-post-container {
        display: flex;
        margin: 2.5rem 0;
    } 

    .big-post-container > img {
        width: 65%;
    }

    .big-post-container .post-details {
        margin-top: 1rem;
        width: 30%;
    }

    .bio > img {
        width: 40px;
        height: 40px;
    }

    .footer-container {
        display: block;
        display: flex;
    }
  }


@media only screen and (max-width: 768px) {

    html {
        font-size: 55%;
    }

    .page-container {
        min-width: 375px;
        padding: 3rem 0;
    }

    .inner-container {
        width: 90%;
    }

    .header-container p {
        font-size: 1.4rem;
    }
    
    .big-post-container {
        display: block;
        margin: 2.5rem 0;
    } 

    .big-post-container > img {
        width: 100%;
    }

    .big-post-container .post-details {
        margin-top: 1rem;
        width: 100%;
    }

    .bio {
        width: 180px;
    }

    .bio > img {
        width: 40px;
        height: 40px;
    }

    .bio p {
        font-size: 1.4rem;
    }

    .footer-container {
        display: block;
    }

    .post-details {
        margin-top: 5rem;
        width: 100%;
    }
  }
